/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 jul. 2021, 10:58:19
    Author     : Gold
*/

/*----- Aspectos generales - INICIO -----*/

:root{
    --fuente: 'Kanit', sans-serif;
    --fontsml: 1rem;
    --fontlrg: 1.5rem;
    --fontxl: 2rem;
    --celeste: #03a9f4;
    --verde: #00a644;
    --morado: #7b1fa2;
    --rojo: #c20000;
}

body{
    background-color: #1e1e1e;
}

.titulos{
    text-align: center;
    font-family: var(--fuente);
    font-size: var(--fontxl);
    margin: 0.5rem;
    color: whitesmoke;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

button{
    border: none;
    outline: none;
}

input{
    outline: none;
    border: none;
}

.boton-celeste{
    margin: 2rem;
    padding: 0.5rem 1.5rem;
    
    font-family: var(--fuente);
    font-size: var(--fontlrg);    
    text-decoration: none;
    text-align: center;
    
    color: whitesmoke;    
    background: var(--celeste);
    
    border-radius: 10px;
    border: none;
    outline: none;
    
    transition: 0.25s;
}

.boton-verde{
    margin: 2rem;
    padding: 0.5rem 1.5rem;
    
    font-family: var(--fuente);
    font-size: var(--fontlrg);    
    text-decoration: none;
    
    color: whitesmoke;    
    background: var(--verde);
    
    border-radius: 10px;
    border: none;
    outline: none;
    
    transition: 0.25s;
}

.boton-rojo{    
    margin: 0.5rem;
    padding: 0.5rem;
    
    font-family: var(--fuente);
    font-size: var(--fontlrg);
    text-align: center;

    color: whitesmoke;
    
    background: var(--rojo);

    border-radius: 10px;
    /*border: solid 0.1rem whitesmoke;*/

    width: 95%;
    
    transition: 0.25s;
}

.boton-morado{    
    margin: 0.5rem;
    padding: 0.5rem;
    
    font-family: var(--fuente);
    font-size: var(--fontlrg);
    text-align: center;

    color: whitesmoke;
    
    background: rgb(0,166,68);
    background: linear-gradient(0deg, rgba(0,166,68,1) 0%, rgba(28,65,47,1) 100%);

    border-radius: 10px;
    /*border: solid 0.1rem whitesmoke;*/

    width: 95%;
    
    transition: 0.25s;
}

.boton-verdev2{    
    margin: 0.5rem;
    padding: 0.5rem;
    
    font-family: var(--fuente);
    font-size: var(--fontlrg);
    text-align: center;

    color: whitesmoke;    
    background: var(--verde);

    border-radius: 10px;
    /*border: solid 0.1rem whitesmoke;*/

    width: 95%;
    
    transition: 0.25s;
}

.boton-celeste:hover, .boton-verde:hover{
    background: whitesmoke;
    color: black;
}

.boton-rojo:hover, .boton-morado:hover, .boton-verdev2:hover{    
    color: whitesmoke;
    font-size: 1.56rem;
    padding: 0.7rem;
    
    text-decoration: none;
    
    border: solid 0.213rem whitesmoke;
    
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.indicador{
    font-family: var(--fuente);
    color: whitesmoke;
    padding: 0;
    margin: 0 0 2px 2px;
}

.fondo-celeste{
    background: rgb(15,15,15);
    background: linear-gradient(-217deg, rgba(15,15,15,1) 0%, #006da8 50%, rgb(15, 15, 15) 100%); 
    
    border-radius: 10px;
}

.fondo-negro{
    background: rgb(0,0,0);
    background: linear-gradient(-217deg, rgba(0,0,0,1) 0%, rgba(30,30,30,1) 50%, rgba(0,0,0,1) 100%);
    
    border: solid black 5px;
    
    border-radius: 10px;
}

.formulario-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;    
}

.mensaje-error{
    
    font-family: 'Kanit', sans-serif;   
    color: whitesmoke;    
    font-size: 1rem;
    text-align: center;
    
    background: rgb(72,4,3);
    background: linear-gradient(315deg, rgba(72,4,3,1) 0%, rgba(194,0,0,1) 100%);
    
    border: solid 1px whitesmoke;
    border-radius: 7px;

    margin: 0;
    padding: 5px;    
}

.grid-3-columnas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    margin-bottom: 3rem;
    
    border-radius: 1rem;    
}

.grid-3-columnas div{
    background: #757575;
    background: linear-gradient(180deg, #a1a1a1 0%, #ffffff 100%);
    
    max-height: 100px;
    
    overflow: auto;
    
    border: 1px solid black;   
    
}

.grid-4-columnas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    margin-bottom: 3rem;
    
    border-radius: 1rem;    
}

.grid-4-columnas div{
    background: #757575;
    background: linear-gradient(180deg, #a1a1a1 0%, #ffffff 100%);
    
    max-height: 100px;
    
    overflow: auto;
    
    border: 1px solid black;   
    
}

.grid-indicador{
    font-family: var(--fuente);
    color: whitesmoke;
    padding: 0;
    /*margin: 0 0 2px 2px;*/
    
    text-align: center;
    
    background: #00a644;
    background: linear-gradient(180deg, #00a644 0%, #1c412f 100%);
}

.grid-dato{
    font-family: var(--fuente);
    color: black;    
    text-align: center;    
}

.grid-indicador-1024{
    display: none;
}

.grid-boton-modificar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-boton-modificar .eliminar{
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    font-family: var(--fuente);
    font-size: 1.2rem;
    color: white;
    
    width: 100%;
    height: 100%;
    
    background: rgba(194,0,0,1);
    background: linear-gradient(0deg, rgba(72,4,3,1) 0%, rgba(194,0,0,1) 100%);
    
    
    transition: 0.25s;        
}

.grid-boton-modificar .modificar{
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    font-family: var(--fuente);
    font-size: 1.2rem;
    color: white;
    
    width: 100%;
    height: 100%;
    
    background: green;
    background: linear-gradient(180deg, green 0%, #1c412f 100%);
    
    transition: 0.25s;        
}

.grid-boton-modificar .detalles{
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    font-family: var(--fuente);
    font-size: 1.2rem;
    color: white;
    
    width: 100%;
    height: 100%;
    
    background: grey;
    
    transition: 0.25s;        
}

.grid-boton-modificar button:hover{
    background: whitesmoke;
    color: black;
}


/*----- Aspectos generales - FIN -----*/








/*----- Barra de navegación - INICIO -----*/

.barra-de-navegacion{
    position: sticky;    
}

.navbar{
    font-family: var(--fuente);
    
    background: #03a9f4;
    background: linear-gradient(0deg, #03a9f4 0%, #006aa4 100%);
}

.boton-navbar{
    color: black;
    border-radius: 15px;
    
    font-size: 1.2rem;
    
    transition: 0.25s;
}

.boton-navbar:hover{
    background-color: #03a9f4;
    color: black;
}


/*----- Barra de navegación - FIN -----*/







/*----- Página de inicio - INICIO -----*/

.pagina-inicio{
    padding: 1rem;
}

.pagina-inicio .titulo-bienvenida{
    font-size: var(--fontlrg);
    text-align: center;
    color: whitesmoke;
}

.pagina-inicio .links-ingreso{
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/*----- Página de inicio - FIN -----*/







/*----- Formularios - INICIO -----*/

.bloque-formulario-celeste{
    background: rgb(15,15,15);
    background: linear-gradient(-217deg, rgba(15,15,15,1) 0%, #006da8 50%, rgb(15, 15, 15) 100%);    
    
    padding: 1rem;    
    margin-top: 1.5rem;
    
    min-width: 200px;
    max-width: 400px;
    
    border-radius: 10px;
}

.bloque-formulario-morado{
    background: #7b1fa2;
    background: linear-gradient(0deg, rgb(63, 16, 83) 0%, rgb(110, 27, 124) 100%);
    
    padding: 1rem;    
    margin-top: 1.5rem;
    
    min-width: 200px;
    max-width: 400px;
    
    border-radius: 10px;
}

.formulario form{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.formulario label{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}

.formulario label input, .formulario label select, .formulario label textarea{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.formulario .boton{
    display: flex;
    justify-content: center;
}


/*----- Formularios - FIN -----*/









/*----- Panel de control - INICIO -----*/

.panel-control{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-evenly;

    min-height: 80vh;

    padding: 0;
    margin-top: 20px;
}

/*----- Panel de control - FIN -----*/







/*----- Vista de Carga exitosa -----*/

.carga-exitosa{
    min-height: 80vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: space-around;    
}









/*----- MEDIA QUERIES - 768px*/
@media(min-width: 768px){

.boton-rojo{    
    margin: 0.5rem;
    padding: 0.5rem;
    
    font-family: var(--fuente);
    font-size: var(--fontlrg);
    text-align: center;

    color: whitesmoke;
    
    background: var(--rojo);

    border-radius: 10px;
    /*border: solid 0.1rem whitesmoke;*/

    width: 65%;
    
    transition: 0.25s;
}    

.boton-verdev2{    
    margin: 0.5rem;
    padding: 0.5rem;
    
    font-family: var(--fuente);
    font-size: var(--fontlrg);
    text-align: center;

    color: whitesmoke;    
    background: var(--verde);

    border-radius: 10px;
    /*border: solid 0.1rem whitesmoke;*/

    width: 65%;
    
    transition: 0.25s;
}

.panel-control{
    margin: 1rem;
}
    

}









/*----- MEDIA QUERIES - 1024px -----*/

@media(min-width: 1024px){
    
.boton-rojo{    
    margin: 0.5rem;
    padding: 0.5rem;
    
    font-family: var(--fuente);
    font-size: var(--fontlrg);
    text-align: center;

    color: whitesmoke;
    
    background: var(--rojo);

    border-radius: 10px;
    /*border: solid 0.1rem whitesmoke;*/

    width: 65%;
    
    transition: 0.25s;
}

.grid-3-columnas{    
    grid-template-columns: repeat(8, 1fr);
    
    margin: 0 8rem;
}

.grid-3-columnas div{
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-4-columnas{    
    grid-template-columns: repeat(4, 1fr);
    
    margin: 0 8rem;
}

.grid-4-columnas div{
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-indicador{
    display: none;
}

.grid-indicador-1024{
    display: block;
    
    font-family: var(--fuente);
    color: whitesmoke;
    padding: 0;
    margin: 0;
    
    text-align: center;
    
    border: 1px solid black;
    
    background: #00a644;
    background: linear-gradient(180deg, #00a644 0%, #1c412f 100%);
}

.grid-dato{
    margin: 0 auto;
}

.grid-boton-modificar{
    grid-column: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}







/*----- Panel General - INICIO -----*/

.panel-general{
    display: flex;
    flex-direction: row;
    
    justify-content: center;    
}

/*----- Panel General - FIN -----*/








/*----- Panel de control - INICIO -----*/

.panel-control{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-evenly;

    min-height: 80vh;
    width: 48%;

    padding: 0;
    margin: 10px;
}

/*----- Panel de control - FIN -----*/
    
    
    
}